<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:group {"tagName":"main","className":"post-content"} -->
<main class="post-content">
  <!-- wp:group {"className":"post-header"} -->
  <div class="post-header">
    <!-- wp:post-title {"level":1} /-->
    <!-- wp:post-date /-->
    <!-- wp:post-terms {"term":"category"} /-->
  </div>
  <!-- /wp:group -->
  <!-- wp:post-featured-image /-->
  <!-- wp:post-content /-->
  <!-- wp:group {"className":"post-footer"} -->
  <div class="post-footer">
    <!-- wp:post-terms {"term":"post_tag"} /-->
  </div>
  <!-- /wp:group -->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
