<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:group {"tagName":"main","className":"portfolio-content"} -->
<main class="portfolio-content">
  <!-- wp:group {"className":"portfolio-header"} -->
  <div class="portfolio-header">
    <!-- wp:post-title {"level":1} /-->
    <!-- wp:post-excerpt /-->
  </div>
  <!-- /wp:group -->
  <!-- wp:post-featured-image /-->
  <!-- wp:post-content /-->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
